<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
      <add name="dbstr" connectionString="Data Source=DESKTOP-0JM3VBC;Initial Catalog=Session1;Integrated Security=True"/>
    </connectionStrings>

  <appSettings>
    <add key="Date" value="new Date"/>
    <add key="id" value="0"/>        <!-- 当值为0时,不是自动登录;值为1时,自动登录 -->
    <add key="email" value=""/>
    <add key="pass" value=""/>
  </appSettings>
</configuration>